.homeTable {
    width: 1000px;
    text-align: center;
}

.activeSeasonCell{
    width: 50%;
    border-right: solid;
    border-width: 1px;
    border-color: #B8B8B8  ;
}

.lastOperationCell{
    width: 50%;
}

.allFieldsCell{
    width: 100%;
    border-top: solid;
    border-width: 1px;
    border-color: #B8B8B8  ;
}

.pipeChartSelect select {
    text-indent: 1px;
    background-color: #D0D0D0  ;
    color: black;
    padding: 5px;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    height: 34px;
    box-shadow:0 0 5px #dc143c;
}