.homeTable {
    width: 1000px;
    text-align: center;

}

.activeSeasonCell {
    width: 50%;
}

.lastOperationCell {
    width: 50%;
}

.pipeChartSelect select {
    text-indent: 1px;
    background-color: #D0D0D0;
    color: black;
    padding: 5px;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    height: 34px;
    box-shadow: 0 0 5px #dc143c;

}

.fieldOptionMenu {
    position: fixed;
    bottom: 0;
}

.homeTableCellDiv {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: serif;
}

.homeTableActiveSeasonData {
    border-collapse: collapse;
    width: 100%;
}

.homeTableActiveSeasonData td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.homeTableActiveSeasonData tr:hover {
    background-color: #D0D0D0;
}

.homeTableActiveSeasonData th {
    background-color: #B8B8B8;
    cursor: pointer;
}

.homeTableSearchRow {
    border-top: solid 1px;
    border-color: #B8B8B8;
}

.homeTableSearchCell {
    margin-top: 10px;
    margin-right: 10px;
}

.fieldsHomeTableSiteInfo {
    font-size: 26px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 4px;
}

.fieldEditInputs {
    margin-bottom: 6px;
}
